# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
release
*.zip
dashmaster_content
.git-backup-publish
src/App.tsx.tmp
current_app_part.txt
current_app_part_full.txt
ui_section.txt
user_view_logic.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
